header {
  background-color: #FFCC99;
}

header h1 {
  font-weight: bold;
  text-align: center;
}

main {
  background-color: #E6F2FF;
  margin: 20px;
  display: flex;
}

aside {
  background-color: #B3D9FF;
  flex: 1;
}

section {
  flex: 3;
}

footer {
  background-color: #99CC99;
}

aside, footer {
  border: 1px solid #CCC;
}

header, footer {
  box-shadow: 10px 5px 5px rgb(95, 95, 95);
}
